crewai
crewai-tools
ipywidgets
matplotlib
pandas
seaborn
tqdm
plotly
streamlit
poetry
tiktoken
azure-ai-documentintelligence
azure-search-documents
python-dotenv
azure-identity
PyMuPDF
faiss-cpu>=1.7.4
yfinance
pytz
numpy>=1.24.0
requests
bs4
autogen_agentchat
autogen-core
autogen_ext
pdf2image
pytesseract
PyPDF2
gradio>=4.0.0