crewai
crewai-tools
ipywidgets
matplotlib
pandas
seaborn
tqdm
plotly
streamlit
poetry
tiktoken
azure-ai-documentintelligence
azure-search-documents
python-dotenv
azure-identity
PyMuPDF
faiss-cpu
yfinance
pytz
numpy
requests
bs4
autogen_agentchat
autogen-core
autogen_ext
pdf2image
pytesseract
PyPDF2